.Navbar ul {
  background-color: #195036;
  list-style-type: none;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 0;
  overflow: hidden;
  background-color: #195036;
}
.Navbar .icon {
display: none;
}
@media screen and (max-width: 600px) {
.Login-btn {
  display: none;
}
.left {
  display: none;
}
a {
  width: 120px;
}
}

li {
  float: right;
}
li img {
  width: 150px;
}
li a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.left {
  float: left;
}
li .Login-btn {
  border: white solid 2px;
  border-radius: 35px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 150px;
}

li a:hover {
  color: gold;
}
li .Login-btn:hover {
  opacity: 0.6;
}


