.Prices hr{
        width: 850px;
        margin-left: auto;
        margin-right: auto;
        border: green solid 3px;
}
.Prices {
        margin-top: 150px;
        padding-bottom: 150px;
        margin-left: auto;
        margin-right: auto;
}
.Price-Header h1 {
        text-align: center;
}
@media only screen and (max-width:728px){
        .Prices hr{
                width: 120px;
                margin-left: auto;
                margin-right: auto;
                border: green solid 3px;
        }   
.Prices .container{
    padding-left: 50px;
}
}